body, html {
  height: 100%;
  margin: 0;
}

.bg {
  /* The image used */
  background-image: url("background.jpg");

  /* Full height */
  height: 90%; 

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.text-block {
 
  background-color:	#F0F0F0;
  color: white;
  padding: 100px;
  width: 200px;
  height: 200px;
  text-align: justify;
  font-family: Impact, Charcoal, sans-serif;
}
#center {
  margin:auto;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
 
}
